body{
    background-color: rgba(0, 0, 0, 0.74);
    color: aliceblue;
    text-align: center;
}
button{
    width: 150px;
    height: 30px;
}

p1{
    background-color:rgba(4, 250, 4, 0.925);
    color:black;
}
p2{
    background-color: rgb(255, 29, 29);
    color: black;
}