body{
    background-color: rgba(0, 0, 0, 0.678);
    color: blanchedalmond;
    text-align: center;
}
button{
    width: 150px;
    height: 30px; 
}
div#res{
    text-align: left;
    font-size: 15px;
}